/* Primary */
$primary-100: #e6faeb;
$primary-200: #b7f2c7;
$primary-300: #8aeaa4;
$primary-400: #60e383;
$primary-500: #39db64;
$primary-600: #25b44b;
$primary-700: #168d36;
$primary-800: #0b6723;
$primary-900: #034013;

/* Success */
$success-100: #e6faf0;
$success-200: #b7f2d5;
$success-300: #8aeaba;
$success-400: #60e3a2;
$success-500: #39db8a;
$success-600: #25b46d;
$success-700: #168d52;
$success-800: #0b6739;
$success-900: #034021;

/* Warning */
$warning-100: #faf5e6;
$warning-200: #f2e3b7;
$warning-300: #ead28a;
$warning-400: #e3c260;
$warning-500: #dbb339;
$warning-600: #b49025;
$warning-700: #8d7016;
$warning-800: #67500b;
$warning-900: #403103;

/* Error */
$error-100: #fae6e6;
$error-200: #f2b7b7;
$error-300: #ea8a8a;
$error-400: #e36060;
$error-500: #db3939;
$error-600: #b42525;
$error-700: #8d1616;
$error-800: #670b0b;
$error-900: #400303;

/* Info */
$info-100: #e6f0fa;
$info-200: #b7d5f2;
$info-300: #8abaea;
$info-400: #60a2e3;
$info-500: #398adb;
$info-600: #256db4;
$info-700: #16528d;
$info-800: #0b3967;
$info-900: #032140;

/* Neutral */
$neutral-100: #fcfcfc;
$neutral-200: #d6d6d6;
$neutral-300: #afafaf;
$neutral-400: #888888;
$neutral-500: #616161;
$neutral-600: #494949;
$neutral-700: #303030;
$neutral-800: #181818;
$neutral-900: #000000;

/* Transparent black variants */
$transparent-black-100: rgba($neutral-900, 0.1);
$transparent-black-200: rgba($neutral-900, 0.2);
$transparent-black-300: rgba($neutral-900, 0.3);
$transparent-black-400: rgba($neutral-900, 0.4);
$transparent-black-500: rgba($neutral-900, 0.5);
$transparent-black-600: rgba($neutral-900, 0.6);
$transparent-black-700: rgba($neutral-900, 0.7);
$transparent-black-800: rgba($neutral-900, 0.8);
$transparent-black-900: rgba($neutral-900, 0.9);

/* Font sizes */
$header-1: 53.75px;
$header-2: 44.79px;
$header-3: 37.32px;
$header-4: 31.1px;
$header-5: 25.92px;
$header-6: 21.6px;
$paragraph: 18px;
$small: 15px;
$extra-small: 12.5px;

$border-radius: 40px;
$surface-border-radius: 20px;

/* Shadows & glows */
$primary-shadow: 0px 0px 5px rgba($primary-500, 1);
$success-shadow: 0px 0px 5px rgba($success-500, 1);
$warning-shadow: 0px 0px 5px rgba($warning-500, 1);
$error-glow: 0px 0px 5px rgba($error-500, 1);
$info-glow: 0px 0px 5px rgba($info-500, 1);
$neutral-shadow: 0px 0px 5px rgba($neutral-100, 1);
$neutral-dark-shadow: 0px 0px 5px rgba($neutral-800, 1);